body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td{


    
    text-align:center;
    height:100px;
width:160px;
    border: 1px solid black;
    

}
th{
border:1px solid black;

}